***********************************************************************************************************************************************
*                                                                                                                                             *
* DRILL TAPE SUMMARY REPORT                                                                                                                   *
*                                                                                                                                             *
* C:\USERS\DAN\DOCUMENTS\GITHUB\SOLAR_PANEL_MONITORING\SPMON_2025\PRJ.HW\ORCAD_SCHEMATIC_LAYOUT\SPMON_SLAVEBOARD\LAYOUT\SPMON_SLAVEBOARD.MAX  *
* Sat Dec 06 16:52:46 2025                                                                                                                    *
*                                                                                                                                             *
***********************************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       2        200      100                                                                                 
T2       38       48       200      100                                                                                 
T3       110      4        200      100                                                                                 
