*************************************************************************************************************************************************
*                                                                                                                                               *
* DRILL TAPE SUMMARY REPORT                                                                                                                     *
*                                                                                                                                               *
* C:\USERS\DAN\DOCUMENTS\GITHUB\SOLAR_PANEL_MONITORING\SPMON_2025\PRJ.HW\ORCAD_SCHEMATIC_LAYOUT\SPMON_MASTERBOARD\LAYOUT\SPMON_MASTERBOARD.MAX  *
* Tue Dec 09 12:08:26 2025                                                                                                                      *
*                                                                                                                                               *
*************************************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       38       34       200      100                                                                                 
T2       110      4        200      100                                                                                 
